@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-jetbrainsMono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1 {
    @apply text-[36px] xl:text-[80px] leading-[1.1] font-extrabold uppercase;
  }
  .h2 {
    @apply text-[32px] xl:text-[36px] leading-[1.1] font-extrabold uppercase;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-extrabold uppercase;
  }
  .p {
    @apply font-secondary text-lg text-white/60;
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #57ebd7;
  }
}
